.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    width: max-content;
}

input {
    width: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: lightgrey;
    height: 30px;
    text-align: center;
}