button {
    border-radius: 15px;
    background-color: #349CFB;
    color: white;
    border: none;
    height: 40px;
    width: 200px;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}